# /etc/systemd/system/backupgreenhousedata.service
[Unit]
Description=Receive backup greenhouse data
After=default.target

[Service]
User=pi
Type=simple
RemainAfterExit=yes
ExecStart=/home/pi/Desktop/now/backupgreenhousedata
TimeoutStartSec=0

[Install]
WantedBy=default.target
